.Data-form {
    border: solid black;
    border-radius: 2rem;
    margin: 5vh auto; 
    padding: 3vh;
    width: 40vw;
    font-size: 1.5rem;
    /* display: flex; */
}


input{
    font-size: 1.5rem;
    /* text-align: end ; */
}